body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
}
.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 100px;
}
.top-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #7a9e8a;
}
.logo {
	display: block;
	font-size: 30px;
	color: #ffffff;
}
.btn-cart {
	margin: 30px 0;
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
	background-color: #ff9090;
	border: none;
	outline: none;
	padding: 15px 30px;
	border-radius: 3px;
}
.btn-cart:hover {
	background-color: #682a2a;
	cursor: pointer;
}
.products {
	display: flex;
	margin: 50px 0;
}
.product-item {
	flex: 0 1 25%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	padding: 15px;
	margin-right: 20px;
}
.product-item:last-child {
	margin: 0;
}
.product-item img {
	display: block;
	width: 100%;
	height: 200px;
}
.product-item h3 {
	font-size: 25px;
	text-transform: uppercase;
	color: rgb(59, 56, 102);
}
.price {
	font-size: 30px;
	font-weight: 500;
	color: rgb(19, 16, 54);
}
.buy-btn {
	padding: 10px 30px;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
	outline: none;
	border-radius: 3px;
	background-color: #adadad;
}
.buy-btn:hover {
	color: #ffffff;
	background-color: rgb(160, 162, 245);
	cursor: pointer;
}